################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/Tie.Helper.Samples/obj/Debug
/samples/Tie.Samples/obj/Debug
/samples/Tie.Wpf.SearchEngine/obj/x86/Debug
/tests/Tie.Helper.Tests/obj/Debug
/tests/Tie.Tests/obj/Debug
/tests/Tie.UnitTest/obj/Debug
/tests/Tie.UnitTest/bin/Debug
/tests/Tie.UnitTest.NET4/obj/x86/Debug
/Tie/bin
/Tie/obj
/Tie.Helper/obj
/Tie.Helper/bin
/samples/Tie.Form.DataDriven/obj/x86/Release
/samples/Tie.Form.Samples/obj/Release
/samples/Tie.Helper.Samples/obj/Release
/samples/Tie.Samples/obj/Release
/samples/Tie.Wpf.SearchEngine/obj/x86/Release
/tests/Tie.Helper.Tests/obj/Release
/tests/Tie.UnitTest/obj/Release
/tests/Tie.UnitTest.NET4/obj/x86/Release
/tests/Tie.Helper.Tests/bin/Release
/tests/Tie.UnitTest/bin/Release
/tests/Tie.UnitTest.NET4/bin/Release
/tests/Tie.Tests/bin/Release
/tests/Tie.Tests/obj/Release
/packages
/samples/Tie.Form.Samples/bin/Debug
/samples/Tie.Form.Samples/obj/Debug
/samples/Tie.Form.SearchEngine/bin/Debug
/samples/Tie.Form.SearchEngine/obj/x86/Debug
/samples/Tie.Form.Subclass/bin/Debug
/samples/Tie.Form.Subclass/obj/x86/Debug
/samples/Tie.Helper.Samples/bin/Debug
/samples/Tie.Samples/bin/Debug
/samples/Tie.Wpf.SearchEngine/bin/Debug
/tests/Tie.Helper.Tests/bin/Debug
/tests/Tie.UnitTest.NET4/bin/Debug
/tests/Tie.Tests/bin/Debug
/samples/Tie.Form.DataDriven/obj/x86/Debug
/samples/Tie.Form.SearchEngine/obj/x86/Release
/samples/Tie.Form.Subclass/obj/x86/Release
/tests/Tie.UnitTest/obj
Tie/bin/Debug/Net20/Tie.XML
Tie/bin/Debug/Net30/Tie.XML
Tie/bin/Debug/Net35/Tie.XML
Tie/bin/Debug/Net40/Tie.xml
Tie/bin/Debug/Net45/Tie.xml
Tie/bin/Debug/Net451/Tie.xml
