<?xml version="1.0"?>
<configuration>
  <location allowOverride="true">
    <appSettings>
      <add key="DBConnectionString0" value="Data Source=localhost\sqlexpress;Initial catalog=easying;Trusted_Connection=True;"/>
      <add key="DBConnectionString0y" value="data source=EADS-SQL1;initial catalog=sfc;user id=PAQ;password=dev;persist security info=True;packet size=4096"/>
      <add key="DBConnectionString0x" value="Data Source=localhost\sqlexpress;Initial catalog=dev_lims4;Trusted_Connection=True;"/>
    </appSettings>
  </location>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
