<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tie.UnitTest.NET4.Properties.Settings.SecurityConnectionString"
            connectionString="Data Source=localhost\SQLExpress;Initial Catalog=Security;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>